<div class="row">
  <div class="card-title homeTitle">
    Interaja com seus amigos
  </div>
  <div class="row">
    <div class="col-12 homeSubTitle">
      Informações sobre a nossa Aplicação Web
    </div>
  </div>
  <div class="row card-body alignCols">
    <div class="col-lg-4 col-sm-12 homeCardBody">
      <div class="row">
        <div class="col-12">
          <ul class="homeList">
            <li>Crie Postagens</li>
            <li>Atualize-as</li>
            <li> Curta postagens de amigos</li>
            <li>Apague seus posts</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 alignCols">
      <img src="/assets/images/NossoZap1.png" class="imgBorder img-fluid">
    </div>
    <div class="col-lg-4 col-sm-12 homeCardBody">
      <div class="row">
        <div class="col-12">
          <ul class="homeList">
            <li>Envie mensagens para amigos</li>
            <li>Veja as mensagens enviadas</li>
            <li>Veja as mensagens recebidas</li>
            <li>Veja sua conversa com outra pessoa</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer homeCardFooter homeSubTitle">
    Adicione seus amigos para melhor uso da aplicação
  </div>
</div>